.comments-container .uk-comment-list .uk-comment ~ ul {
    padding-left: 35px;
}

.comments-container .uk-comment-list .uk-comment ~ ul,
.comments-container .uk-comment-list .uk-comment ~ ul > li,
.comments-container .uk-comment-list > li {
    margin-top: 15px;
}

.comments-container .c-avatar {
    width: 32px;
    height: 32px;
    background: #f8f8f8;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #888;
    border: 1px solid #9e9e9e;
}